footer {
  background-color: #333;
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
  min-height: 200px;
}
.footer-bottom {
  margin-top: 180px; /* Place cet élément en bas automatiquement */
  font-size: 0.8rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.footer {
  background-image:
    linear-gradient(to right, #98c4dd, rgba(143, 199, 230, 0) calc(280vw)), /* Dégradé gauche proportionnel */
    url('/assets/images/banner.png'),
    linear-gradient(to left, #98c4dd, rgba(143, 199, 230, 0) calc(280vw)); /* Dégradé droit proportionnel */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #98c4dd;

  @media (max-width: 650px) {
    background-size: cover;
    background-position: calc(100% * 0.8) center;
  }


  @media (max-width: 768px) {
    background-size: cover;
    height: 150px;
    .footer-bottom {
      margin-top: 120px;
    }
  }

  @media (max-width: 480px) {
    background-size: cover;
    height: 150px;
  }
}
