footer {
  background-color: #333;
  color: white;
  text-align: center;
  height: 120px;
  margin-bottom: 0;
}

.footer {
  background-image:
    linear-gradient(to right, #98c4dd, rgba(143, 199, 230, 0) calc(280vw)), /* Dégradé gauche proportionnel */
    url('https://rodolphe.mingo.qc.lu/java-angular/telesport/assets/images/banner.png'),
    linear-gradient(to left, #98c4dd, rgba(143, 199, 230, 0) calc(280vw)); /* Dégradé droit proportionnel */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #98c4dd;

  @media (max-width: 650px) {
    background-size: cover;
    background-position: calc(100% * 0.8) center;
  }


  @media (max-width: 768px) {
    background-size: cover;
    height: 100px;
  }

  @media (max-width: 480px) {
    background-size: cover;
    min-height: 100px;
  }
}
