@if (isLoading) {
  <app-loader/>
}
@else {
  <section class="home-content">
    <app-title title="Medals per Country"></app-title>
    <p class="home-data-loaded">{{ (olympics$ | async)?.length }} data loaded</p>
    <div class="home-subtitles">
      <app-subtitle subtitle="Number of JOs" count=3 ></app-subtitle>
      <app-subtitle subtitle="Number of Countries" count=5 ></app-subtitle>
    </div>
    <app-pie-chart
      [data]="chartData"
      [onClickFunction]="onClickFunction"
    ></app-pie-chart>
  </section>
}
